* {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255); 
    height: 100vh;
    line-height: 1.6;
    overflow: hidden;
  }
  
  .container {
    width: 100%;
    height: 100%;
    /* CSS Smooth Scroll */
    overflow-y: scroll; 
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
  } 
  
  .lead {
    font-size: 1.5rem;
  }
  
  .navbar {
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    width: 100%; 
    height: 60px;
  }
  
  .navbar ul {
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: flex-end;
    
  }
  
  .navbar ul li {
    margin: 0 1rem;
    padding: 1rem;
  }
  
  .navbar ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color:white;
  }
  
  .navbar ul li a:hover {
    color: black;
    background-color: rgb(10, 189, 150);
  }
  
/*  section#home {
    display: flexbox;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: lightblue;
    text-align: center;
    width: 100%;
    height: 100vh;
    color: #285745; 
    /* Scroll Snap */
    /*scroll-snap-align: center;
  }
  */ 

  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    color: white;
    /* Scroll Snap */
    scroll-snap-align: center;
  }
  section h1 {
    font-size: 4rem;
  }
  
  /* Section Images */
  section#home {
    background: url('https://wallpaperaccess.com/full/686946.jpg') no-repeat center center/cover;;
  }
  
  section#about {
    background: url('jj.jpg') no-repeat center center/cover;;
  }
  section#projects {
    background: url('4k.jpg') no-repeat center center/cover;;
  }
  
  section#contact {
    background-color: rgba(14, 13, 13, 0.24) no-repeat center center/cover;;
  }
  